[submodule "uavrt_interfaces"]
	path = uavrt_interfaces
	url = https://github.com/dynamic-and-active-systems-lab/uavrt_interfaces.git
[submodule "mavlink/v2"]
	path = mavlink/v2
	url = https://github.com/mavlink/c_library_v2.git
